.img-fluid {
    max-width: 100%;
}

h3 {
    margin-top: 10px;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.thumbnail {
    padding: 0px;
    border: 0px;
}

.img-fluid {
    float: left;
    margin: 10px;
}