h3 {
    margin-top: 10px;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

#imgthumb {
    padding: 0px;
    border: 0px;
    margin-top: 20px;
    text-align: center;
}

#hikethumb {
    padding: 0px;
    border: 0px;
    margin-bottom: 10px;
}

#hackthumb {
    padding: 0px;
    border: 0px;
    margin-bottom: 10px;
}

#golfthumb {
    padding: 0px;
    border: 0px;
    margin-bottom: 10px;
}

.img-fluid {
    width: 100%;
}

.featurette-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    font-weight: normal;
}

#textcol {
    color: black;
}

.col-md-4 {
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

#header {
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

#schoolheader {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

#schoolheader:before,
#schoolheader:after {
    background: #000000;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 300%;
}

#schoolheader:before {
    right: 100%;
}

#schoolheader:after {
    left: 100%;
}

#header {
    padding-bottom: 40px;
}

.content {
    /*background-color: #EEEEEE;*/
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

#prointerests {
    padding-bottom: 20px;
}