/* Navbar */
.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.navbar-default .navbar-brand {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.nav.navbar-nav.navbar-right li a:hover:not(.active) {
    background-color: #111;
}

.navbar-default .navbar-brand:hover:not(.active) {
    background-color: #111;
}

.active a{
    background-color: #4CAF50 !important;
}

/* Images */
#imgthumb {
    padding: 0px;
    border: 0px;
    margin-top: 20px;
    text-align: center;
}

.img-fluid {
    width: 100%;
}

.featurette-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Headers */
h3 {
    margin-top: 10px;
}

/* Main Text */
#textcol {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

.col-md-4 {
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

#classes {
    text-align: left;
    margin-bottom: 20px;
    color: black;
}

#header {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding-bottom: 40px;
    overflow: hidden;
}

#eduheader {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding-bottom: 10px;
    overflow: hidden;
}

#schoolheader {
    display: inline-block;
    padding: 0 15px;
    position: relative;
}

#schoolheader:before,
#schoolheader:after {
    background: #000000;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 675%;
}

#schoolheader:before {
    right: 100%;
}

#schoolheader:after {
    left: 100%;
}

#myinfo {
    padding-bottom: 20px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

/* Paragraphs */
p {
    font-size: 14px;
}

#links {
    text-align: center;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* Image Gallery */
#img1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
}

#img1:hover {
    opacity: 0.7;
}

#img2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
}

#img2:hover {
    opacity: 0.7;
}

#img3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
}

#img3:hover {
    opacity: 0.7;
}

#img4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
}

#img4:hover {
    opacity: 0.7;
}

#img5 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
}

#img5:hover {
    opacity: 0.7;
}

/* Image Captions */
#captions {
    font-size: 18px;
    color: black;
}

/* Vertical Dividers */
.row.vdivide [class*='col-']:not(:last-child):after {
  background: #000000;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

body {
    padding-top: 70px;
}