body {
    background: url('../images/homephoto.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.navbar-default .navbar-brand {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    border-bottom: 0px;
}

.nav.navbar-nav.navbar-right li a:hover:not(.active) {
    background-color: #111;
}

.navbar-default .navbar-brand:hover:not(.active) {
    background-color: #111;
}

.thumbnail {
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
}

.caption {
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
}

.thumbnail .caption {
    padding: 10px;
}

blockquote {
    background-color: rgba(0, 0, 0, 0.45);
    color: #E3E3E3;
    position: relative;
    display: inline-block;
    padding: 8px;
    margin: 0px auto;
    border-left: 5px solid #84AC8F;
    border-right: 5px solid #84AC8F;
}