html {
  background: url('../images/homephoto.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    padding-top: 31px;
    min-height: 51px;
    padding-bottom: 0px;
    color: #FFFFFF
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    height: 51px;
}

.navbar {
    margin-bottom: 0px;
}

.thumbnail {
    position: relative;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.thumbnail .caption {
    padding: 10px;
}

.title{
  display: inline-block;
  margin: auto;
  padding:.3em;
  background-color: rgba(0, 0, 0, 0.25);
  color: #E6E6E8;
}

blockquote {
  color: #B4B5B4;
  position: relative;
  display: inline-block;
  padding: 8px;
  margin: 0px auto;
  border-left: 5px solid #84AC8F;
}