/* Overall styling */
body {
	scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding-top: 90px;
  font-family: "Raleway", sans-serif;
  min-height: 100%;
}

.container-fluid h1 {
  text-align: center;
}

/* Navbar */
nav {
	font-family: "Raleway", sans-serif;
  background-color: whitesmoke;
  opacity: 0.8;
  /*filter: opacity(100%);*/
}

/* Uncomment for black nav links */
/*.navbar .navbar-collapse .navbar-nav a {
  color: #212121;
}*/

.nav-link {
  display: flex;
  align-items: center;
  color: black;
}

/* Main section styling */
#home {
  background-image: url("../images/home-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

/* About section styling */
#about {
  background-image: url("../images/gatech-min.jpg");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#about h4 {
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;
  position: relative;
}

#about h1 {
  position: relative;
}

.about-overlay {
  position: absolute;
  opacity: 0.5;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
/* End About section styling */

/* Contact styling */
#contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  float: left;
}

#contact .nav-link {
  padding: 0.5rem 0.5rem;
}

/* Education styling */
#education {
  background-image: url("../images/gt-logo.svg");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#education h1 {
  position: relative;
}

.education-overlay {
  position: absolute;
  opacity: 0.5;
  top: 200%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#edu-info {
  position: relative;
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;
  margin: auto;
  padding-bottom: 90px;
  text-align: center;
}

#edu-info .col-xl {
  justify-content: center;
}

#edu-info .row {
  width: 100%;
}

#placeholder-col {
  height: 33%;
}

/* Projects styling */
#projects {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#projects .row {
  width: 100%;
  margin: auto;
}

#projects .row .col-md {
  justify-content: center;
  padding-bottom: 30px;
}

/* Tour Client styling */


