/* Overall styling */
body {
	scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding-top: 90px;
  font-family: "Raleway", sans-serif;
  min-height: 100%;
}

.container-fluid h1 {
  text-align: center;
}

/* Navbar */
nav {
	font-family: "Raleway", sans-serif;
}

/* Uncomment for black nav links */
.navbar .navbar-collapse .navbar-nav a {
  color: #212121;
}

.nav-link {
  display: flex;
  align-items: center;
  color: black;
}

/* Main section styling */
#home {
  background-image: url("../images/home-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

/* About section styling */
#about {
  background-image: url("../images/gatech-min.jpg");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#about h4 {
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;
  position: relative;
}

#about h1 {
  position: relative;
}

.about-overlay {
  position: absolute;
  opacity: 0.5;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-blend-mode: color-dodge;
}
/* End About section styling */

/* Contact styling */
#contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  float: left;
}

#contact .nav-link {
  padding: 0.5rem 0.5rem;
}

/* Education styling */
#education {
  background-color: #FFEE58;
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#education h1 {
  position: relative;
}

#education h3 {
  margin: 0;
}

#education .card {
  display: flex;
  align-items: center;
}

#education-overlay {
  position: absolute;
  opacity: 0.5;
  top: 200%;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: #fff;
}

#edu-info {
  position: relative;
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;
  margin: auto;
  padding-bottom: 90px;
  text-align: center;
}

#edu-info:before {
  display: block;
  content: " ";
  width: 7px;
  height: 7px;
  border: #ededed 1px solid;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  background: black;
  box-shadow:black 0 0 0 5px;
  border-radius: 3px;
}

#edu-info .col-xl {
  justify-content: center;
}

#edu-info .row {
  width: 100%;
}

#placeholder-col {
  height: 33%;
/*  background-image: url("../images/gt-logo.svg");
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px 150px;*/
}

/* Projects styling */
#projects {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
}

#projects .row {
  width: 100%;
  margin: auto;
}

#projects .row .col-md {
  justify-content: center;
  padding-bottom: 30px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  border-radius: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

.card img {
  border-radius: 10px 10px 0 0;
}

/* Tour Client styling */


