h1 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.navbar-default .navbar-brand {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

#maintext {
    color: black;
}

#picrow {
    padding-bottom: 40px;
}

h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#pictxt {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.mypar {
    text-align: center;
}

body {
    min-height: 900px;
}

#firstimg {
    padding-bottom: 25px;
}

.featurette-divider {
    border: 1px solid gray;
}
