/* Navbar */
.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.navbar-default .navbar-brand {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.nav.navbar-nav.navbar-right li a:hover:not(.active) {
    background-color: #111;
}

.navbar-default .navbar-brand:hover:not(.active) {
    background-color: #111;
}

.active a{
    background-color: #4CAF50 !important;
}

/* Text */
#mapheader {
    padding-bottom: 20px;
}

#pictxt {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

#mypar {
    text-align: center;
    padding-top: 15px;
}

#picrow {
    padding-bottom: 40px;
}

/* Headers */
h1 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    padding-bottom: 30px;
    padding-top: 30px;
}


h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

/* Body */
body {
    padding-top: 70px;
}

#firstimg {
    padding-bottom: 25px;
}

/* Dividers */
.featurette-divider {
    border: 1px solid gray;
}

#title {
    color: black;
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

#edgetitle {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

#slideshow {
    padding-bottom: 25px;
}
