@media (max-height: 1930px) {
    .img-responsive {
        max-width: auto;
        max-height: auto;
    }
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}